.manage-schedule-doctor{
    .m-s-title{
        text-transform: uppercase;
        font-weight: 600;
        margin: 15px 0;
        font-size: 20px;
        text-align: center;
    }
    .pick-hour-container{
        padding-top: 20px;
        padding-bottom: 20px;
      
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        .btn-schedule{
            padding: 5px 13px;
            border: solid gray;
            &.active{
                background-color: orange;
            }
        }
    }
    .btn-save-schedule{
        margin-top: 20px;
    }   
}