.detail-doctor-container{
   
    .intro-doctor{
        // height: 100px;
        display: flex;
        gap: 20px;
        margin: 0 100px;
        .content-left{
            width: 20%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin:10px 20px;
        }   
        .content-right{
            width: 80%;
          
            display: flex;
            flex-direction: column;
          
            .up{
                padding-top: 10px;
                font-size: 20px;
                font-weight: 600;
            }
            .down{
                padding-top: 10px;
                font-size: 16px;
            }
        }
    }

    .schedule-doctor{
        margin: 0 100px;
        display: flex;
        min-height: 200px;
     
        .content-left{
            width: 50%;
        }
        .content-right{
            width: 50%;
        }
    }
    .detail-info-doctor{
        border-top: 3px solid #ddd ;
        padding: 10px 100px;
       
        background: #f9f9f9;
        h3{
            font-size: 17px;
        }
        img{
            width: 100%;
        }
    }
    .comment{
        height: 50px;
    }
}