.doctor-schedule-container{
    border-right: 2px grey solid;
    height: 100%;
    padding: 10px 0;
    .all-schedule{
        select{
            border-bottom: 1px solid #ddd;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            padding: 9px 0;
            color: #337ab7;
            cursor: pointer;
            font-weight: 600;
            option{
                cursor: pointer;
            }
        }
    }
    .all-available-time{
        .text-calendar{
            color: #333;
            margin: 10px 0;
            span{
                text-transform: uppercase;
                margin-left: 5px;
            }
        }
        .time-content{
           
            .time-content-btns{
                display: flex;
                gap:15px;
                flex-wrap: wrap;
                button{
                    padding: 8px 10px;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    background-color: #fff04b;
                    min-width: 155px;
                    font-weight:600;
                    color: #333;
                    &:hover{
                        background-color: #45c3d2;
                        color: white;
                    }
                }
              
                
            }
            .no-schedule{
                color: red;
                font-size: 17px;
                font-style: italic;
            }
            .book-free{
    margin:10px 0;
            }
           
        }
    }
}