.slick-prev{
    left: -35px !important;
    z-index: 900;
    width: 48px !important;
    height: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    &:hover{
        background: #f4f3f3 !important;
    }

}

.slick-prev:before{
    font-family: FontAwesome !important;
    // content: "\f060" !important;
    color: red !important;

}

.slick-next{
    right: -30px !important;
    z-index: 900;
    width: 48px !important;
    height: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    &:hover{
        background: #f4f3f3 !important;
    }
}

.slick-next:before{
    font-family: FontAwesome !important;
    color: red !important;
}  
.section-share{
    &.section-specialty{
        background: #f5f5f5;
    }
    &.section-outstanding-doctor{
        background: #f5f5f5;
    }
    &.section-about{
        margin: 0 70px;
       padding: 20px;
        height: 500px;
        background: #f5f5f5;
    }
    .section-body{
        margin-top: 10px;
      
        .section-customize{
            padding-right: 10px;
           
            .bg-img{
                height: 200px;
                width: 100%;
                
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                border: 1px solid grey;

                &.section-specialty{
                    background-image: url("../../assets/specialty/specialty1.jpg");
                }
                &.section-medical-facility{
                    background-image: url("../../assets/facility/facility1.jpg");
                }
                &.section-outstanding-doctor{
                    background-image: url("../../assets/doctor/doctor.jpg");
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                &.section-handbook{
                    background-image: url("../../assets/handbook/hanbook.jpg");

                }
                
            }
           
        }
    }
}

.section-share{
    height: 330px;
    padding: 7px;
    
   
    .section-container{
        margin: 0 70px;
        flex-direction: column;
        
        .section-header{
            margin-top: 10px;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
           .title-section{
                font-size: 20px;
                font-weight: 600;
           }
           .btn-section{
                margin-right:6px ;
                padding: 10px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                &:hover{
                    background-color: #f7d800;
                }
                text-transform: uppercase;
           }
        }

        
    }
   
}

.section-outstanding-doctor{
    .author-background{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        
    }
    .customize-border{
        padding: 5px;
        border: 1px solid grey;
    }
}
.home-footer{
    text-align: center;
    padding-top: 10px;
    a{
         text-decoration: none;
    }
   
}
.section-about{
    .section-about-header{
        font-size: 20px;
        padding: 15px;
        font-weight: 600;
    }
    .section-about-content{
     display: flex;
      .content-left{
        width: 50%;
      }
      .content-right{
        p{
            font-size: 25px;
            font-style: italic;
        }
        
        width: 50%;
      }

    }

}
