.home-header-container{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    height: 70px;
    width: 100%;
  
    .home-header-content{
        padding: 7px;
        width: 100%;
        height: 100%;
        display: flex;
        border-bottom:3px solid #ddd ;
        .left-content{
            width: 25%;
            display: flex;
            
           align-items: center;
           .header-logo{
               
            margin-left: 20px;
            cursor: pointer;
            
        }
           i{
            font-size: 27px;
            color: grey;
            cursor: pointer;
           }
        }

        .center-content{
            padding: 1px;
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;

           .child-content{
                .sub-title{
                    font-weight: 300;
                    font-size: 13px;
                }
           }
        }
        
        .right-content{
            display: flex;
            width: 25%;
            justify-content: flex-end;;
            align-items: center;
            
            .support{
                font-size: 20px;
                margin-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            .language-vi{
                cursor: pointer;
                opacity: 0.3;
                margin: 0 10px;
                font-size: 18px;
                font-weight: 500;
                &:hover{
                    // color: orange;
                    opacity: 1;
                }
                &.active{
                    opacity: 1;
                    color: orange;
                }
            }
            .language-en{
                &:hover{
                    // color: blue;
                    opacity: 1;
                }
                cursor: pointer;
                margin: 0 10px;
                opacity: 0.3;
                font-size: 18px;
                font-weight: 500;
                &.active{
                    opacity: 1;
                    color: blue;
                }
            }
        }
    }
}


.home-header-banner{
    
    background-image: url('../../assets/images/banne2.jpg');
    height: 621px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    .content-up{
        background-image:linear-gradient(rgba(126,126,126,0.25),rgba(255,255,255,0.1)) ;
        height: 70%;
        .title1{
            text-shadow: 1px 1px 1px #333;
            color: #fff;
            font-size: 45px;
            text-align: center;
            margin-bottom: 10px;
            // margin-top: 20px;
        }
    
        .title2{
            text-shadow: 1px 1px 1px #333;
            color: #fff;
            font-size: 35px;
            text-align: center;
            margin-bottom: 25px;
        }
    
        .search {
            width: fit-content;
            display: flex;
            margin: 0 auto;
            align-items: center;
            padding: 10px;
            border-radius: 25px ;
            background: #f7d800;
            i{
                margin: 0 5px;
            }
            input{
                border: none;
                outline: none;
                height: 30px;
                width: 470px;
                background: transparent;
            }
        }
        
    }

    .content-down{
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.9),rgba(255,255,255,1)) ;
        padding-bottom: 15px;
        .options{
            display: flex;
            gap: 50px;
            
            .option-child{
                width: 125px;
                text-align: center;
                .icon-child{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    text-align: center;
                    padding: 15px;
                    background: white;
                    margin: 0 auto;
                    font-size: 35px;
                    color: #49cbe2;
                }
                .text-child{
                    font-size: 20px;
                    text-shadow: 1px 1px 1px #333;
                    color: #333;
                    font-weight: 400;
                    padding: 5px;
                    cursor: pointer;
                    &:hover{
                        color: #49cbe2;
                    }
                }
            }
        }
    }
}